*{
    margin: 0;
    padding: 0;
}

body{
    background: olivedrab;
    color: aliceblue;
}

nav{
    text-align: center;
    height: 50px;
    background: linear-gradient(to bottom, black, olivedrab);
}

h1{
    margin: 15px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px whitesmoke;
}

nav h1{
    margin: 0;
    padding-top: 10px;
}

#myCanvas{
    position: absolute;
    display: inline-flex;
    /* height: 533px; */
    /* width: 800px; */
    height: fit-content;
    width: fit-content;
    padding: 0;
    top: 50%;
    left: 50%;
    gap: 50px;
    transform: translate(-50%, -45%);
}
.images{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: 10px;
}

.spot{
    position: absolute;
    z-index: 99;
    border: red solid 3px;
}